  
<li class="catalogue-item">
    <a href="{{ page.url | prepend: site.baseurl }}" >
        
        <div class="catalogue-info transition">
            <h1 class="catalogue-title">
                {{ page.title }}
            </h1>
            {% if {page.subtitle | size} > 0 %}
            <p class="catalogue-sub">
                {{ page.subtitle }}
            </p>
            {% endif %}
            <p class="catalogue-body">
                {{ page.content | truncatewords: 24 | strip_html }}
            </p>
        </div>
    </a>
    <p class="catalogue-meta">Posted by Jun on {{page.date}}</p>
    <div>
        <a class="catalogue-type" href="/blog/{{ page.type }}">
            #{{ page.type }}
        </a>
        {% if page.subtype != null 0 %}
        <a class="catalogue-type" href="/blog/{{ page.type }}/{{ page.subtype }}">
            #{{ page.subtype }}
        </a>
        {% endif %}
    </div>
</li>    