.img-profile {
    float: left;
    padding-top: 9px;
    padding-right: 8px;
}

#back-to-top {
  display: block;
  bottom: 7rem;
}

.post-header {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 360px;
  //background-color: #D8E0E7;
}

#custom-category {
  //font-family: "Source Sans Pro",sans-serif;
  display: inline-block;
  width: auto;
  height: 22px;
  padding: 0 8px;
  font-size: 14px;
  color: #a6abb2;
  font-family: -apple-system,Verdana,"PingFang SC","Helvetica Neue",Arial,"Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
  line-height: 22px;
  box-sizing: border-box;
  box-shadow: 0 0 .6px #d5dae1;
  border-radius: 2px;
  background-color: #fafafa;
  cursor: pointer;
  margin-right: 2px;
  transition: .2s;
  color: #fff;
  background-color: rgba(255,255,255,.26);
  box-shadow: none;
  margin-bottom: 0px;
}

#custom-summary-category {
  font-family: "Source Sans Pro",sans-serif;
  font-weight: bold;
}

[theme=dark] #custom-category {
  font-family: "Source Sans Pro",sans-serif;
  font-weight: 750;
  font-size: .95rem;
  color: #1D6CE0;
  text-decoration: none;
}

.single-title a {
    color: #666666 !important;
}

[theme=dark] .single-title a {
    color: #a9a9b3 !important;
}

// .page {
//     max-width: 1000px;
//     //width: 65%;
// }

/*@media only scree and (max-width: 960px){
    .page {
        max-width: 1000px;
        width: 80%;
    }   
}

@media only scree and (max-width: 1200px){
    .page {
        max-width: 1000px;
        width: 65%;
    }   
}

@media only scree and (max-width: 1440px){
    .page {
        max-width: 1000px;
        width: 70%;
    }   
}*/

.utterances {
    max-width: 1000px;
}

code {
    box-sizing: border-box;
    border-radius: 4px;
    line-height: 1.5;
    padding: 4px;
    font-weight: 400;
    background-color: #f5f5f5 !important;
}

pre{
    code {
        box-sizing: border-box;
        border-radius: 4px;
        line-height: 1.5;
        padding: 4px;
        font-weight: 400;
        background-color: #272c34 !important;
        color: #eee !important;
    }
}

.highlight {
    code {
        background-color: $code-background-color !important;
    }
}

[theme=dark] code{
    background-color: $code-background-color-dark !important;
}

.single {
    #comments {
        padding: 4rem 0 2rem;
    }
}

#content {
    //font-size: 15px;

    h2 {
        border-bottom: 1.3px solid #ebebeb !important;
        padding-bottom: 1.1rem;
    }

    h3 {
        font-size: 20px;
    }
}

[theme=dark] #content {
    font-size: 15px;

    h2 {
        border-bottom: 1.5px solid #363636 !important;
        padding-bottom: 1.1rem;
    }

    h3 {
        font-size: 20px;
    }
}

.subject4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    //font-size: 17px !important;
    font-weight: bolder;
    font-size: 18px;
    margin-bottom: 10px !important;
    margin: 1.2rem 0;
}

.subject5 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    //font-size: 17px !important;
    font-weight: bolder;
    font-size: 16px;
    margin-bottom: 10px !important;
    margin: 1.2rem 0;
}

[theme=dark] .single .content>h4>.header-mark::before, [theme=dark] .single .content>h5>.header-mark::before, [theme=dark] .single .content>h6>.header-mark::before {
    content: '' !important;
    color: #a9a9b3;
}

.single .content>h4>.header-mark::before, .single .content>h5>.header-mark::before, .single .content>h6>.header-mark::before {
    content: '' !important;
}

sup {
    font-size: .7rem;
    font-weight: 700;
}

.content  img {
    display: block;
    margin: 1.0rem auto;
    max-width: 100%;
    height: auto;
}

//@import 'toc';
@import 'custom/post_header';
@import 'post';
@import 'post_nav';