.single {
    .post-footer {
        .post-nav a.prev {
            float: left;
            font-family: Noto Sans KR,sans-serif;
            background-color: #cce8f4;
            color: #2f5a69;
            font-weight: 400;
            font-size: 13px;
            opacity: .8;
            padding: 3px 16px 4px;
            border-radius: 6px;
        }

        .post-nav a.next {
            float: right;
            font-family: Noto Sans KR,sans-serif;
            background-color: #cce8f4;
            color: #2f5a69;
            font-weight: 400;
            font-size: 13px;
            opacity: .8;
            padding: 3px 16px 4px;
            border-radius: 6px;
        }
    } 
}