
[theme=dark] .md-r {
    color: #ff4040 !important;
}

[theme=dark] .md-b {
    color: #55bde2 !important;
}

[theme=dark] .md-g {
    color: #32CD32 !important;
}

.md-r {
    color: #ff0000 !important;
}

.md-b {
    color: #0055ff !important;
}

.md-g {
    color: #228B22 !important;
}

.md-l {
    text-decoration-line: underline;
}