
[theme=dark] .md-r {
    color: #ff4040 !important;
}

[theme=dark] .md-b {
    color: #55bde2 !important;
}

[theme=dark] .md-g {
    color: #32CD32 !important;
}

.md-r {
    color: #ff0000 !important;
}

.md-b {
    color: #0055ff !important;
}

.md-g {
    color: #228B22 !important;
}

.md-l {
    text-decoration-line: underline;
}

// .single {
//     .content {
//         blockquote {
//             border-left: 4px solid rgb(32, 201, 151) !important;
//             background-color: rgb(248, 249, 250) !important;
//         }
//     }
// }

// [theme=dark] .single {
//     .content {
//         blockquote {
//             border-left: 4px solid rgb(32, 201, 151) !important;
//             background-color: rgb(248, 249, 250) !important;
//         }
//     }
// }