footer {
  font-family: "Source Sans Pro",sans-serif;
  background-color: #f6f9fc;
  border-top: 1px solid #D8E0E7;
  height: 4rem;
  width: 100%;
  text-align: center;
  line-height: 1.25rem;
  padding: 1rem 0;

  .footer-container {
    font-size: .875rem;
    margin: 0 auto;

    .footer-line {
      width: 100%;

      .icp-br {
        display: none;
      }
    }
  }

  @include blur;
}
