
.intro-header {
  margin-bottom: 20px;
  background: no-repeat center center;
  background-attachment: scroll;
  background-size: cover;
  //background-color: #a3a3a3;
  background-color: #fff;
  margin-top: 4rem;
  background-image: url('/images/default_featured_img.jpg');
  min-height: 300px;
  width: 100%;
  position: relative;
}

.post-blur {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: #000;
  opacity: .5;
}

.intro-header-title {
  position: relative;
  display: block;
  //min-height: 310px;
  padding: 50px 0;
  //min-height: 310px;
}