.list-type-thumb {
  float: right;
  width: 126px;
  height: auto;
  margin-left: 57px;
  border: 1px solid #f1f1f1;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -ms-transform: translateY();
}

.thum {
  position: relative;
  overflow: hidden;
  display: inline;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
}